extends ./layout/index
block slider
    .slider 
        h1 Rio de Janeiro 
        em aventura
block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre nosotros 
        .row-mb-5.d-flex.mb-6 
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eum possimus et laudantium, quibusdam iusto ratione perspiciatis itaque officia fugiat harum maxime suscipit, veritatis numquam delectus magni obcaecati eligendi doloribus! 
            .col-md-6
                img(src="img/inicio_nosotros.jpg" class="img-fluid")
        include ./layout/viajes
    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de descuento 
                        p.titulo viaje a Canadá
                        p.precio 2500 USD
    .container 
        h2.mt-5.text-center Testimonios
        .row.testimoniales
            each testimonio in testimonios
                .col-md-6.col-lg-4.mb-4 
                    .card 
                        .card-body 
                            blockquote.blockquote
                            p.mb-0 
                                | #{testimonio.mensaje}
                            footer.blockquote-footer 
                                | #{testimonio.nombre}