extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg",class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint consectetur est quia, distinctio minima placeat hic ipsa alias cupiditate similique vero fugit nisi eius obcaecati, earum corporis dolores suscipit corrupti.

                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos dicta eius sit facere esse? Ab explicabo magni dicta asperiores facilis id rem repellat odit laboriosam recusandae, porro odio quae veritatis.

                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos dicta eius sit facere esse? Ab explicabo magni dicta asperiores facilis id rem repellat odit laboriosam recusandae, porro odio quae veritatis.

                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos dicta eius sit facere esse? Ab explicabo magni dicta asperiores facilis id rem repellat odit laboriosam recusandae, porro odio quae veritatis.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci in officiis quis molestiae velit sit cupiditate architecto placeat nostrum, voluptatibus cum excepturi asperiores aliquid ex deleniti. Excepturi dolor repudiandae beatae.
                .col-md-4 
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci in officiis quis molestiae velit sit cupiditate architecto placeat nostrum, voluptatibus cum excepturi asperiores aliquid ex deleniti. Excepturi dolor repudiandae beatae.
                .col-md-4 
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci in officiis quis molestiae velit sit cupiditate architecto placeat nostrum, voluptatibus cum excepturi asperiores aliquid ex deleniti. Excepturi dolor repudiandae beatae.